// UI colors
$bg-color: #111111;
$caption: #666666;
$border: #dfe9eb;

// Text colors
$text: #ffffff;
$link: #00afea;
$hover: #ffffff;

// UI
$ui-padding: .9375em;
$ui-transparency: rgba(#000, .8);
$header-height: 60px;
$footer-height: 60px;

// Fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Responsive breakpoints
$minMedium: 641px; // 40.063em
$minLarge: 1024px; // 64.063em
$minXLarge: 1441px; // 90.063em
$minXXLarge: 1921px; // 120.063em